:root {
    --color-primary: rgb(69, 155, 26);
    --color-primary-light: rgb(100, 220, 40);
    --color-primary-dark: rgb(55, 116, 25);

    --color-grey-light: rgb(175, 175, 175);
    --color-grey-dark: rgb(79, 79, 79);

    --color-white: #fff;

    --color-black: rgb(0, 0, 0);

}