.workout-info {

    cursor: pointer;

    -webkit-transition: margin .2s ease .3s;

    -o-transition: margin .2s ease .3s;

    transition: margin .2s ease .3s;

    &__heading {
        font-size: 1.8rem;
    }

    &__div-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    &__p-text {
        font-size: 1.25rem;
    }
}