*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {font-size: 62.5%;}
body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2rem;
    background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
    background-image: -o-linear-gradient(top left, var(--color-primary-light), var(--color-primary-dark));
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    height: 100vh;

    @include media-q (max, 1170px) {
        padding: .5rem;
    }
}

a { text-decoration: none; }

ul {list-style: none;}