.u-center-text {text-align: center;}

.u-no-display {display: none !important;}

.u-no-margin {margin: 0 !important;}
.u-margin-bottom-small {margin-bottom: 1rem;}
.u-margin-bottom-medium {margin-bottom: 3rem;}
.u-margin-bottom-large {margin-bottom: 8rem;}
.u-margin-top-small {margin-top: 1rem;}
.u-margin-top-medium {margin-top: 3rem;}
.u-margin-top-11 {margin-top: -11rem;}

.u-align-start {align-self: flex-start;}
.u-align-end {align-self: flex-end;}

.u-no-opacity {opacity: 0;} // this is actually with opacity

.u-no-pointer-cursor { cursor: default;}

.u-top-30 { top: 20% !important; }
